/*for tabs*/
.root {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0.7rem 0 0 0;
}


/*for desktop*/
@media (min-width:1024px) {
    .root {
        display: flex;
        height: 100vh;
        width: 100vw;
        padding: 2rem 3.5rem 0 3.5rem;
    }

    .item {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
    }
}

/*for mobile*/
@media (max-width:600px) {
    .root {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0.7rem 0 0 0;
    }
}

/* Add_User modal */

.floating-btn {
    position: relative;
    bottom: 50vh;
    left: 92vw;
    transform: rotate(270deg);
    z-index: 100;
    background-color: #555 !important;
    color: #fff !important;
    clip-path: polygon(5% 0%, 93% 0%, 100% 100%, 0% 100%);
    animation: btn_animation_x 1s ease-in-out infinite;
}

.floating-btn:hover {
    background-color: #1976d2 !important;
    color: #fff;
    clip-path: polygon(5% 0%, 93% 0%, 100% 100%, 0% 100%);
    animation: btn_animation_x 1s ease-in-out none;
    left: 91.8vw;
}

@keyframes btn_animation_x {

    0%,
    100% {
        transform: rotate(270deg) translateY(0);
    }

    50% {
        transform: rotate(270deg) translateY(-10px);
        /* Moves 10px to the right */
    }
}