body {
  margin: 0;
  font-family: 'playfairDisplay', 'PlayfairDisplayLocal', 'playfairDisplay-Bold', 'PlayfairDisplay-Medium', 'PlayfairDisplay-Light', 'PlayfairDisplay-Thin', 'PlayfairDisplay-Italic', 'PlayfairDisplay-BoldItalic', 'PlayfairDisplay-MediumItalic', 'PlayfairDisplay-LightItalic', 'PlayfairDisplay-ThinItalic', 'RobotoLocal', 'Roboto-Bold', 'Roboto-Medium', 'Roboto-Light', 'Roboto-Thin', 'Roboto-Italic','Roboto-BoldItalic','Roboto-MediumItalic','Roboto-LightItalic','Roboto-ThinItalic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}